/** Nav **/

/*** color boton hamburguesa ***/

.navbar-toggler {
    color: $white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(246, 232, 232)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/** ends color boton hamburguesa **/

.bgColorNav {
    background-color:  rgba(51, 51, 51,0.7);

        ul a {
            color: $white;
        }

        ul a:hover {
            font-weight: 600;
            color: $white;
        }
}


.navbar-brand:focus, .navbar-brand:hover {
    color: $white;
    font-weight: 600;
}

.textColorWhite {
    color: $white;
}

/** edns nav**/